#sec_para { 
    color:red; 
	background-color: lightgreen; 
	} 
	.main-class { 
	color: brown; 
	background-color: silver; 
	} 
	.back-color { 
	background-color: silver; 
	} 
	a:link { 
	color: red; 
	} 
	a:visited { 
	color: brown; 
	}  
	a:hover { 
	color: orange 
	}
	a:active { 
	color: green; 
	}  
	